* {
  margin: 0;
  padding: 0;
}

.bar_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  background-color: #0000ff;
}

.section {
  height: 800vh;
}
