* {
  margin: 0;
  padding: 0;
}

.section {
  margin: 2rem;
  height: 200rem;
}

.progress_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.progress_bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  background-color: red;
}
